In [38]:
import numpy as np
import pandas as pd

In [39]:
data_recomm=pd.read_csv("data_hotel_reviews_clean.csv")
data_recomm.head(1)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,submit,With a pet,extra_room_type,country,tourist,year,month,day,Negative_Review_clean,Positive_Review_clean
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,Not Mention,Not Mention,Not Mention,Netherlands,1,2017,8,3,I am so angry that i made this post available ...,Only the park outside of the hotel wa beautiful

In [40]:
data_recomm.replace({np.nan:" "},inplace=True)
data_recomm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515212 entries, 0 to 515211
Data columns (total 32 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515212 non-null  object
 1   Additional_Number_of_Scoring                515212 non-null  int64
 2   Review_Date                                 515212 non-null  object
 3   Average_Score                               515212 non-null  float64
 4   Hotel_Name                                  515212 non-null  object
 5   Reviewer_Nationality                        515212 non-null  object
 6   Negative_Review                             515212 non-null  object
 7   Review_Total_Negative_Word_Counts           515212 non-null  int64
 8   Total_Number_of_Reviews                     515212 non-null  int64
 9   Positive_Review                             515212 non-null  object
 10  Review_Total_Positive_Word_Counts           515212 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515212 non-null  int64
 12  Reviewer_Score                              515212 non-null  float64
 13  Tags                                        515212 non-null  object
 14  days_since_review                           515212 non-null  object
 15  lat                                         515212 non-null  float64
 16  lng                                         515212 non-null  float64
 17  regions                                     515212 non-null  object
 18  rooms_type                                  515212 non-null  object
 19  guests                                      515212 non-null  object
 20  trip_type                                   515212 non-null  object
 21  stayed                                      515212 non-null  int64
 22  submit                                      515212 non-null  object
 23  With a pet                                  515212 non-null  object
 24  extra_room_type                             515212 non-null  object
 25  country                                     515212 non-null  object
 26  tourist                                     515212 non-null  int64
 27  year                                        515212 non-null  int64
 28  month                                       515212 non-null  int64
 29  day                                         515212 non-null  int64
 30  Negative_Review_clean                       515212 non-null  object
 31  Positive_Review_clean                       515212 non-null  object
dtypes: float64(4), int64(10), object(18)
memory usage: 125.8+ MB

In [41]:
data_recomm['guests'] = data_recomm['guests'].replace(['Family with young children','Family with older children',
       'With a pet,Family with young children',
       'With a pet,Family with older children'],'Family')
data_recomm['guests'] = data_recomm['guests'].replace(['With a pet,Couple'],'Couple')
data_recomm['guests'] = data_recomm['guests'].replace(['With a pet,Group'],'Group')
data_recomm['guests'] = data_recomm['guests'].replace(['With a pet,Solo traveler'],'Solo traveler')

In [42]:
data_recomm['guests'].value_counts()

Couple                    252005
Solo traveler             108431
Family                     87295
Group                      65338
Travelers with friends      2143
Name: guests, dtype: int64

In [43]:
data_recomm.trip_type=data_recomm.trip_type.str.replace('Not Mention',"")

In [44]:
data_recomm['trip_type'].value_counts()

Leisure trip     417355
Business trip     82853
                  15004
Name: trip_type, dtype: int64

In [45]:
data_recomm["stayed"]=data_recomm["stayed"].astype('str')
data_recomm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515212 entries, 0 to 515211
Data columns (total 32 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515212 non-null  object
 1   Additional_Number_of_Scoring                515212 non-null  int64
 2   Review_Date                                 515212 non-null  object
 3   Average_Score                               515212 non-null  float64
 4   Hotel_Name                                  515212 non-null  object
 5   Reviewer_Nationality                        515212 non-null  object
 6   Negative_Review                             515212 non-null  object
 7   Review_Total_Negative_Word_Counts           515212 non-null  int64
 8   Total_Number_of_Reviews                     515212 non-null  int64
 9   Positive_Review                             515212 non-null  object
 10  Review_Total_Positive_Word_Counts           515212 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515212 non-null  int64
 12  Reviewer_Score                              515212 non-null  float64
 13  Tags                                        515212 non-null  object
 14  days_since_review                           515212 non-null  object
 15  lat                                         515212 non-null  float64
 16  lng                                         515212 non-null  float64
 17  regions                                     515212 non-null  object
 18  rooms_type                                  515212 non-null  object
 19  guests                                      515212 non-null  object
 20  trip_type                                   515212 non-null  object
 21  stayed                                      515212 non-null  object
 22  submit                                      515212 non-null  object
 23  With a pet                                  515212 non-null  object
 24  extra_room_type                             515212 non-null  object
 25  country                                     515212 non-null  object
 26  tourist                                     515212 non-null  int64
 27  year                                        515212 non-null  int64
 28  month                                       515212 non-null  int64
 29  day                                         515212 non-null  int64
 30  Negative_Review_clean                       515212 non-null  object
 31  Positive_Review_clean                       515212 non-null  object
dtypes: float64(4), int64(9), object(19)
memory usage: 125.8+ MB

### rooms for family

In [46]:
data_for_rooms_family=data_recomm[data_recomm["guests"]=="Family"]
rooms_family=data_for_rooms_family["rooms_type"].unique()

### rooms for couple

In [47]:
data_for_rooms_Couple=data_recomm[data_recomm["guests"]=="Couple"]
rooms_Couple=data_for_rooms_Couple["rooms_type"].unique()

### data for solo traveler

In [48]:
data_for_rooms_Solo=data_recomm[data_recomm["guests"]=='Solo traveler']
rooms_Solo=data_for_rooms_Solo["rooms_type"].unique()

### data for Group

In [49]:
data_for_rooms_Group=data_recomm[data_recomm["guests"]=='Group']
rooms_Group=data_for_rooms_Group["rooms_type"].unique()

### data for travel with friends

In [50]:
data_for_rooms_friends=data_recomm[data_recomm["guests"]=='Travelers with friends']
rooms_friends=data_for_rooms_friends["rooms_type"].unique()

### saving lists

In [51]:
import numpy as np
with open('test.npy', 'wb') as f:
    np.save(f, rooms_family)
    np.save(f, rooms_Couple)
    np.save(f, rooms_Group)
    np.save(f, rooms_Solo)
    np.save(f, rooms_friends)

In [52]:
with open('test.npy', 'rb') as f:
    family = np.load(f,allow_pickle=True)
    Couple =  np.load(f,allow_pickle=True)
    Group =  np.load(f,allow_pickle=True)
    Solo =  np.load(f,allow_pickle=True)
    friends =  np.load(f,allow_pickle=True)

### for first app

In [53]:
df_guests=data_recomm.copy()
df_guests.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'regions', 'rooms_type', 'guests',
       'trip_type', 'stayed', 'submit', 'With a pet', 'extra_room_type',
       'country', 'tourist', 'year', 'month', 'day', 'Negative_Review_clean',
       'Positive_Review_clean'],
      dtype='object')

In [54]:
df_guests=df_guests.drop(['Additional_Number_of_Scoring','Review_Date','Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given','Negative_Review_clean', 'Positive_Review_clean','submit','tourist','With a pet','regions','Reviewer_Score','Tags','days_since_review','extra_room_type', 'year', 'month', 'day'],axis=1)

In [55]:
df_guests.columns

Index(['Hotel_Address', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'lat', 'lng', 'rooms_type', 'guests', 'trip_type', 'stayed', 'country'],
      dtype='object')

In [56]:
with open('Reviewer_Nationality.npy', 'wb') as f:
    np.save(f, df_guests.Reviewer_Nationality.unique())

In [57]:
with open('country.npy', 'wb') as f:
    np.save(f, df_guests.country.unique())

In [58]:
with open('guests.npy', 'wb') as f:
    np.save(f, df_guests.guests.unique())

In [59]:
data_with_country_nationality=df_guests.copy()

In [60]:
data_with_country_nationality["all"]=data_with_country_nationality["guests"]+ ' '+ data_with_country_nationality["trip_type"]+" "+data_with_country_nationality["rooms_type"]+" "+data_with_country_nationality["stayed"]

In [61]:
data_with_country_nationality=data_with_country_nationality.drop(['rooms_type','guests','trip_type', 'stayed'],axis=1)

In [62]:
data_with_country_nationality.columns

Index(['Hotel_Address', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'lat', 'lng', 'country', 'all'],
      dtype='object')

In [63]:
data_with_country_nationality.to_pickle("df_guests_all.pkl")

In [64]:
data_without_country_nationality=df_guests.copy()

In [65]:
data_without_country_nationality["from_to_all"]=data_without_country_nationality["Reviewer_Nationality"]+ ' '+ data_without_country_nationality["country"]+' '+data_without_country_nationality["guests"]+ ' '+ data_without_country_nationality["trip_type"]+" "+data_without_country_nationality["rooms_type"]+" "+data_without_country_nationality["stayed"]

In [66]:
data_without_country_nationality=data_without_country_nationality.drop(['country','Reviewer_Nationality','rooms_type', 'guests', 'trip_type', 'stayed'],axis=1)

In [67]:
data_without_country_nationality.columns

Index(['Hotel_Address', 'Average_Score', 'Hotel_Name', 'lat', 'lng',
       'from_to_all'],
      dtype='object')

In [68]:
data_without_country_nationality.to_pickle("df_guests_from_to_all.pkl")

### for second app

In [69]:
data_filters=data_recomm.copy()

In [70]:
data_filters.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'regions', 'rooms_type', 'guests',
       'trip_type', 'stayed', 'submit', 'With a pet', 'extra_room_type',
       'country', 'tourist', 'year', 'month', 'day', 'Negative_Review_clean',
       'Positive_Review_clean'],
      dtype='object')

In [71]:
data_filters=data_filters.drop(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Reviewer_Nationality',
        'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'regions', 'rooms_type', 'guests',
       'trip_type', 'stayed', 'submit', 'With a pet', 'extra_room_type',
       'country', 'tourist', 'year', 'month', 'day', 'Negative_Review_clean',
       'Positive_Review_clean'],axis=1)

In [72]:
data_filters.columns

Index(['Hotel_Name', 'Negative_Review', 'Positive_Review'], dtype='object')

In [73]:
data_filters.to_pickle("data_filters.pkl")

In [74]:
with open('HOTEL_NAME.npy', 'wb') as f:
    np.save(f, df_guests.Hotel_Name.unique())

: